*,
*::before,
*::after {
  box-sizing: border-box;
}

/*The body is 100vh to accomodate mobile screen so that all the sign in appears without scrolling */

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* error handling */

.errorContainer {
  color:red;
  margin-top: 20px;
}


/* main settiing */

.content-padding {
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
}